table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 500;
  text-transform: none;
  font-family: sans-serif;
  letter-spacing: 0.025em;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f5f7fa;
}