.btn{
  width: 100%;
    min-height: 44px;
    padding: 0;
    border: 0;
    display: block;
    background-color: #0070ba;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -khtml-border-radius: $border-radius;
    border-radius: $border-radius;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: #005ea6;
    }
}

.inputContainer {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;

  & > span {
    color: red;
    background:url('../../images/error.png') no-repeat top left;
    background-position: left;
    background-size: 1.5em;
    padding-left: 30px;
  }
}

.errorMessage p {
  margin: 0;
  color: #fff;

}

.error {
  padding: 0px;
}

.App {
  padding: 20px;

  form {
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    overflow: hidden;
    width: 460px;
    position: relative;
    margin: 0 auto;

    & .rowInput {
      // row
      // margin-bottom: 20px;
      z-index: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 0;
      padding: 10px 20px;
      &.error {
        padding: 10px 20px 0px 20px;
        > .inputContainer > input {
          border: 1px solid red;
          // background-image: url('../../images/error.png');
          // background-repeat: no-repeat;
          // background-position: right;
          // background-size: 3em;          
        }
      }
      & > label {
        width: 12em;
        text-align: left;
        padding: 5px;
        font-size: 0.9375rem;
        line-height: 1.6;
        font-weight: 500;
        text-transform: none;
        font-family: 'PayPal-Sans', sans-serif;
        letter-spacing: 0.025em;
      }
      & > span {
        &:before {
          margin-right: 5px;
        }
        white-space: nowrap;
        color: #600;
        font-weight: bold;
        padding: 5px;
        margin-left: 5px;
      }
    }

    & .errorMessage {
      position: absolute;
      padding: 10px;
      height: 0;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      -khtml-border-radius: $border-radius;
      border-radius: $border-radius;
      background: #c72f38;
      color: #fff;
      transition: all .3s ease-out;
    
      &.show {
        left: 15.7em;
        right: 3.8em;
        height: auto;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        -khtml-border-radius: $border-radius;
        border-radius: $border-radius;
        text-align: left;
      }

      p {
        color: white;
        font-weight: normal;
        font-size: 1em;
      }
    }

    input {
      flex: 1;
      padding: 5px 8px;
      border: 1px solid #ddd;
      border-radius: 2px;
    }
    button {
      margin: 10px;
      }
      &.submitting {
        cursor: wait !important;
      }
      &.add {
        &:before {
          margin-right: 5px;
        }
      }
    }

  hr {
    margin: 20px;
  }

  p {
    color: #0070ba;
    font-weight: bold;
    font-size: 2em;
  }
}